<% layout('layouts/boilerplate') %>
<div class="row card">
    <div class="col-6 offset-3 d-flex align-items-center">
        <div class="card-body p-4 p-lg-5 text-black">
            <form action="/campgrounds" method="POST"  class="validornot" novalidate enctype="multipart/form-data">
                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create a new campground</h5>
                <div class="form-outline mb-4">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="campground[title]" class="form-control " required>
                </div>
                <div class="form-outline mb-4">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" name="campground[location]" class="form-control" required>
                </div>
                <div class="form-outline mb-4">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" class="form-control" id="image" name="image" multiple>
                </div>
                <div class="form-outline mb-4">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">₹</span>
                        <input type="text" aria-label="First name" class="form-control" id="price" aria-describedby="price-label"
                        name="campground[price]" placeholder="0.00" required>
                    </div>
                </div>
                <div class="form-outline mb-4">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" id="description" name="campground[description]" class="form-control" required></textarea>
                </div>
                <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" >Add Campground</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        //to upload files using html form we have to set enctype to multipart/form-data
        <form action="/campgrounds" method="POST"  class="validornot" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="campground[title]" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location" name="campground[location]" class="form-control" required>
            </div>
            <div class="mb-3">
                //<label for="image" class="form-label">Image URL</label>
                //<input type="text" id="image" name="campground[image]" class="form-control" required>
                <label for="image" class="form-label">Image</label>
                <input type="file" class="form-control" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" aria-label="First name" class="form-control" id="price" aria-describedby="price-label"
                    name="campground[price]" placeholder="0.00" required>
                 </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" id="description" name="campground[description]" class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
    </div>
</div> -->